#answer-button-container {
  height: 30%;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}
.big-select {
  width: 50% !important;
  aspect-ratio: auto !important;
}
/* Hiding the submit button */
.big-select>input[type=submit] {
  visibility: hidden;
}