#gamemode-button-container {
  height: 30%;

  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
#question-categories {
  margin: var(--text-input-margin);
}

.gamemode-button {
  transition: background-size 0.3s;
  background-size: 0 0;
}
#gamemode_select_Singleplayer.active,
#gamemode_select_Singleplayer:hover {
  background-image: url("../../images/Bikos\ Vriendje.jpg");
  background-size: contain !important;
}
#gamemode_select_Multiplayer.active,
#gamemode_select_Multiplayer:hover {
  background-image: url("../../images/Lieverds.jpg");
  background-size: contain !important;
}
