#gamemode-button-container {
  height: 30%;

  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
#question-categories {
  margin: var(--text-input-margin);
}

.gamemode-button {
  transition: background-image 0.3s;
  background-size: contain !important;
}