.modal {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  background: var(--modal-background);

  width: var(--modal-width);
  padding: var(--modal-padding);
  border: var(--modal-border);
  border-radius: var(--modal-border-radius);
}
.modal h1 {
  text-align: center;
}
.modal input {
  padding: var(--text-input-padding);
  border-radius: var(--text-input-border-radius);
  border: var(--text-input-border);
  margin: var(--text-input-margin);
}
.modal input[type=text], input[type=password] {
  width: 100%;
}
.modal input[type=submit] {
  background: var(--confirm-button-background);
  border-color: var(--confirm-button-border-color);

  color: var(--confirm-button-text-color);
  font-weight: var(--button-font-weight);
  font-size: var(--button-font-size);
  
  float: right;
  min-width: 33%;
}
.h-centered {
  width: 100%;
  text-align: center;
}
