@import "./button.css";

.modal {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  background: var(--modal-background);

  width: var(--modal-width);
  padding: var(--modal-padding);
  border: var(--modal-border);
  border-radius: var(--modal-border-radius);
}
.modal h1 {
  text-align: center;
}
.modal input[type=text], input[type=password] {
  padding: var(--text-input-padding);
  border-radius: var(--text-input-border-radius);
  border: var(--text-input-border);
  margin: var(--text-input-margin);
  width: 100%;
}
.h-centered {
  width: 100%;
  text-align: center;
}
