.navbar {
  position: fixed;
  top: 0;
  z-index: var(--navbar-z);

  width: 100%;
  height: var(--navbar-height);

  display: inline-flex;
  align-items: center;

  background: white;
}
.navbar-link {
  padding: 0.5rem; 
  margin: 0px 0.5rem;
}
.navbar a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1.5em;
}
