@import "./error-message.css";

:root {
  /* Global styling */
  --page-background: #eeeeee;

  /* Modal styling */
  --modal-width: 75%;
  --modal-padding: 1rem;
  --modal-border-radius: 10px;
  --modal-border: 3px solid #dddddd;
  --modal-background: #ffffff;
  --text-input-padding: 0.5rem;
  --text-input-border-radius: 10px;
  --text-input-border: 3px solid #dddddd;
  --text-input-margin: 0.5rem 0rem;

  /* Coloring */
  --global-primary-color: #88aaff;
  --global-secondary-color: #6688ee;
  --global-tertiary-color: #5e7ddb;
  --confirm-button-background: var(--global-secondary-color);
  --confirm-button-color: var(--global-primary-color);
  --confirm-button-border-color: var(--global-tertiary-color);
  --confirm-button-text-color: #ffffff;
  --button-font-weight: 500;
  --button-font-size: 16;
  --error-color: #ff3333;

  /* Animation */
  --hover-transition-duration: 0.3s;

  /* Navbar styling */
  --navbar-height: 3rem;

  /* Z-Indexes */
  --navbar-z: 1000;
}
body {
  background-color: var(--page-background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}
.main-content-wrapper {
  width: 66%;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  top: var(--navbar-height);
  height: calc(100% - var(--navbar-height));
}
* {
  box-sizing: border-box;
}
